*{
    color: white;
    font-family: 'Roboto', sans-serif;
}

#title{
    color: white;
    text-align: center;
    font-size: 100px;
    font-family: roboto, sans-serif;
    padding-top: 50px;
}

body {
    background-color: #1E2122;
}

#info {
    color: white;
    font-size: 20px;
    font-family: roboto, sans-serif;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.snippits{
    justify-content: space-between;
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 960px;
    
}

.ghl{
    color: white;
    position: relative;
    text-align: center;
    margin-top: 100px;
    display: inline-block;
    justify-content: space-between;
    margin-left: 550px;
}

#glogo{
    border-radius: 10px;
}

.lkd{
    text-align: center;
    display: inline-block;
}

.ctia{
    text-align: center;
    display: inline-block;
}

.gml{
    text-align: center;
    display: inline-block;
}

#clogo{
    border-radius: 10px;
    filter: grayscale(50%) invert(100%) brightness(95%) hue-rotate(180deg);
}

#llogo{
    border-radius: 10px;
}

@media only screen and (hover: none){
    .ghl{
        margin-left: 0px;
        display: block;
    }
    
    .lkd{
        display: block;
    }

    .ctia{
        display: block;
    }
    
    .gml{
        display: block;
    }


}
