*{
    color: white;
    font-family: 'Roboto', sans-serif;
}

#title{
    color: white;
    text-align: center;
    font-size: 100px;
    font-family: roboto, sans-serif;
    padding-top: 50px;
}

body {
    background-color: #1E2122;
}

#info {
    color: white;
    font-size: 20px;
    font-family: roboto, sans-serif;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}


.ghl{
    color: white;
    text-align: center;
    margin: auto;
    width: 600px;
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap; 
}

#b1{
   display: block;
   margin: 50px 0;
}

#glogo{
    border-radius: 10px;
}


#clogo{
    border-radius: 10px;
    filter: grayscale(50%) invert(100%) brightness(95%) hue-rotate(180deg);
}

#llogo{
    border-radius: 10px;
}
